.oe_currency_value{
    display:none !important;
}
#cart_total{
    display:none !important;
}

#payment_method {
    display:none !important;
}

#o_cart_summary {
    display:none !important;
}

.td-price{
    display:none !important;
}

.td-action{
    display:none !important;
}

.td-qty{
    text-align:right !important;
}

.product_price{
    display:none !important;
}

.product_tabs_ept{
    display:none !important;
}

.grey-background{
    background-color:#f5f5f5 !important;
}

.o-carousel-product{
    display:none !important;
}

.te_s_shipping_info{
    display:none !important;
}

.te_prod_bottom_margin{
    display:none !important;
}

.te_p_sku{
    display:none !important;
}

.te_product_media{
    display:none !important;
}

.title_catalog{
    color:#9d69f6 !important;
    font-weight:bold;
}

.grey-background > a{
    color:#3e3e3e !important;
}
.grey-background > p{
    color:#3e3e3e !important;
}

.prod_details_sticky_div .prod_price{
    display:none !important;
}

.td-qty{
    text-align:left !important;
}

.te_cart_wizard_main{
display:none !important;
}

.oe_cart > a{
    display:none !important;
}